@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --principal: #4ed2ad;
  --secundario: #73d9bc;
  --background: #07080a;
  --exitoso: #9befd7;
  --blanco: #ffffff;
  --navegacion: #0b0d11;

  --vue-color-1: #42d392;
  --vue-color-2: #647eff;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  background: var(--background);
}

h1,
h2,
h3 {
  margin: 0 auto;
}

p {
  margin: 0;
}

img {
  height: 100%;
  display: block;
}

/* Utilidades  */
.separacion {
  margin-top: 5rem;
}

.encabezado {
  background-color: var(--background);
  font-size: 4rem;
  width: 100%;
  height: 72rem;
}

.navegacion {
  display: flex;
  width: 100%;
  height: 9rem;
  background-color: var(--navegacion);

  /* sobra  */
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
}

.contenido-navegacion {
  display: flex; /*row */
  align-items: center;
}

.texto-navegacion p {
  color: var(--blanco);
  font-weight: 900;
  font-size: 2.5rem;
}

.navegacion img {
  height: 7.5rem;
  width: 7.5rem;
}

.contenedor {
  max-width: 120rem;
  width: 80%;
  margin: 0 auto;
}

.titulo {
  text-align: center;
  color: transparent;
  background: linear-gradient(
    315deg,
    var(--vue-color-1) 25%,
    var(--vue-color-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
}

/* proyectos */
.proyectos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2.5rem;
  padding: 1rem;
  background: var(--navegacion);
  border-radius: 2rem;

  /* sobra  */
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
}

/* Trajeta proyecto */
.proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
  background: var(--background);

  /* sobra  */
  -webkit-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 11px 8px 0px rgba(0, 0, 0, 0.3);
}

.proyecto-imagen {
  margin-bottom: 1rem;
}

.titulo-proyecto {
  font-family: "Open Sans", sans-serif;
  font-size: 4rem;
  margin-bottom: 1rem;
  text-align: center;
}

.texto-proyecto {
  font-size: 1.8rem;
  color: var(--blanco);
  text-align: center;
}

.titulo-proyecto {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--blanco);
}

.pie-pagina {
  display: flex;
  align-items: center;
  background: linear-gradient(
    315deg,
    var(--vue-color-1) 25%,
    var(--vue-color-2)
  );
  height: 4rem;
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--blanco);
}

.contenido-pie-pagina {
  text-align: center;
}
